body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: #33FF00;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#terminal {
    max-width: 100%;
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

#output {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4;
}

#commandLine {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #33FF00;
}

#prompt {
    font-size: 18px;
    margin-right: 10px;
}

#commandInput {
    background-color: black;
    color: #33FF00;
    border: none;
    outline: none;
    font-size: 18px;
    flex: 1;
    padding: 5px;
}

#commandInput:focus {
    border-color: #33FF00;
}
